$mainColor: #217BF4;

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@mixin container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

@mixin buttons{
    padding: 15px 40px;
    font-size: 18px;
    background-color: $mainColor;
    border: none;
    border-radius: 10px;
    color: white
}
@mixin opstxt($width){
    color: #656464;
    font-size: 16px;
    width: $width;
}
header{
    @include container();
    div{
        display: flex;
        gap: 50px;
        align-items: center;
        nav{
            display: flex;
            gap: 20px;
        }
    }
    input{
        padding: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        width: 90px;
    }
}

.section1{
    @include container();
    aside{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        h1{
            font-size: 55px;
        }
        p{
            font-size: 22px;
            color: gray;
        }
        button{
            @include buttons();
            background-color: #E9F2FE;
            color: $mainColor;
        }
        div{
            button{
                @include buttons;
            }
            button:last-child{
                @include buttons;
                border: 1px solid $mainColor;
                color: $mainColor;
                background-color: white;
            }
        }
    }
}
.section2{
    @include container();
    aside{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 33%;
        h5{
            color: $mainColor;
            font-size: 18px;
            font-weight: 500;
        }
        h2{
            font-size: 36px;
        }
        p{
            @include opstxt(100%);
        }
        div{
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p{
                color: #171648;
                font-weight: 500;
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
            p:before{
                content: "";
                display: inline-block;
                padding: 5px;
                border-radius: 100%;
                background-color: $mainColor;
            }
        }
    }
    div{
        position: relative;
        width: 50%;
        img{
            position: relative;
        }
        .img1{
            left: -10px;
            top: 200px;
            border-radius: 10px;
        }
        .img3{
            top: 20px;
            right: -275px;
        }
    }
}
.section3{
    @include container();
    padding: 100px 20px;
    gap: 25px;
    div{
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px #5E5E5E5E;
        padding: 20px;
        gap: 20px;
        align-items: start;
        border-radius: 14px;
        width: 22%;
        h3{
            font-weight: 500;
            font-size: 20px;
            color: #0A093D;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        h4{
            @extend h3;
            gap: 5px;
            font-size: 16px;
        }
        p{
            @include opstxt(100%);
        }
        h5{
            font-weight: 500;
            color: #217BF4;
            font-size: 16px;
        }
    }
    aside{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        width: 31%;
        margin-left: 100px;
        h5{
            font-weight: 500;
            color: #217BF4;
            font-size: 16px;  
        }
        h2{
            font-size: 36px;
        }
        p{
            @include opstxt(100%);
        }
        button{
            @include buttons();
            font-size: 14px;
        }
    }
}
.section4{
    @include container();
    flex-direction: column;
    gap: 10px;
    padding: 100px 20px;
    h5{
        font-size: 18px;
        color: #217BF4;
        font-weight: 500;
    }
    h2{
        font-size: 36px;
        color: #0A093D;
    }
    p{
        @include opstxt(33%);
        text-align: center;
    }
    .sect4cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 25px;
        margin-top: 50px;
        .sect4box{
            display: flex;
            justify-content: space-between;
            padding: 25px;
            box-shadow: 0 0 10px #7F7F7F21;
            align-items: center;
            background-color: white;
            border-radius: 14px;
            width: 44%;
            div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4{
                    font-size: 24px;
                    font-weight: 600;
                    color: #2F2C4A;
                }
                p{
                    width: 60%;
                    text-align: start;
                } 
            }
        }
    }
}
.section5{
    @include container();
    flex-direction: column;
    padding: 100px 20px;
    gap: 20px;
    h5{
        font-size: 18px;
        font-weight: 500;
        color: #217BF4;
    }
    h2{
        font-size: 36px;
        color: #0A093D;
    }
    p{
        text-align: center;
        @include opstxt(100%);
    }
    .razdel{
        display: flex;
        gap: 10px;
        padding: 10px;
        background-color: #F2F7FF;
        border-radius: 10px;
        p{
            color: #56546E;
            padding: 15px 35px;
        }
        p:last-child{
            background-color: #217BF4;
            color: white;
            border-radius: 14px;
        }
    }
    .sect5cont{
        display: flex;
        justify-content: space-between;
        gap: 35px;
        margin-top: 25px;
        div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            padding: 25px 40px;
            box-shadow: 0 0 10px lightgray;
            border-radius: 14px;
            position: relative;
            .galochka{
                position: absolute;
                top: 10px;
            }
            .gl3{
                top: 15px;
            }
            h3{
                font-size: 24px;
                margin-top: 25px;
            }
        }
    }
}
.section6{
    background-color: #E5F0FD;
    .sect6cont{
        @include container();
        position: relative;
        aside{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3{
                color: #217BF4;
                font-size: 18px;
                font-weight: 500;
            }
            h2{
                font-size: 36px;
                color: #0A093D;
            }
            p{
                @include opstxt(100%);
            }
            div{
                display: flex;
                align-items: center;
                margin-left: -25px;
            }
        }
        .telimg{
            width: 60%;
            position: relative;
            right: -150px;
            bottom: -20px;
        }
    }
}
.section7{
    @include container();
    flex-direction: column;
    padding: 100px 20px;
    gap: 20px;
    h3{
        font-size: 18px;
        color: #217BF4;
        font-weight: 500;
    }
    h2{
        font-size: 36px;
        color: #0A093D;
    }
    .sect7cont{
        display: flex;
        margin-top: 50px;
        gap: 50px;
        div{
            display: flex;
            flex-direction: column;
 
            gap: 20px;
            h4{
                font-size: 20px;
                color: #2F2C4A;
                display: flex;
                align-items: start;
                gap: 10px;
            }
            h4::before{
                content: "";
                background-color: orange;
                padding: 1.5px 20px;
                margin-top: 15px
            }
            p{
                @include opstxt(240px);
                align-self: center;
            }
        }
    }
}